<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.dreature.soct.mapper.VectorMapper">
    <!-- ===== 复用 SQL 片段 ===== -->
    <sql id="table">vector_store</sql>
    <sql id="columns">id, content, metadata, embedding</sql>

    <!-- ===== 通用基础操作 ===== -->
    <!-- 清空 -->
    <update id="truncate">
        TRUNCATE TABLE <include refid="table"/> RESTART IDENTITY
    </update>
</mapper>
